@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

:root {
  --color1: #008374;
  --color2: #f47721;
  --color3: #7ac143;
  --color4: #d20962;
  --color5: #00bce4;
  --color6: #7d3f98;
  --color7: #051e34;
  --color8: #48494e;
  --color9: #1769aa;
}

/* Apply a basic reset to remove default styles */
.theme-main-menu {
  background-color: var(--color1);
}
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 .subHeading {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.heading h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.heading h1 .subHeading {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 5px;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}
.heading {
  margin-top: 50px;
  font-weight: bold;
}
.alt-two h1 {
  text-align: center;
}
.alt-two h1:before {
  left: 50%;
  margin-left: -30px;
}
#h1Home{
  color:#1769aa
}




.title-container {
  background-color: #d20962;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}

.main-title {
  font-size: 2.8em;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.subheading {
  font-size: 1.3em;
  color: white;
  opacity: 0.8;
}





.cardTitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
}

.cardIcon {
  font-size: 40px;
  color: white;
  background-color: #1f7cc5;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;

  padding: 20px;
  border-radius: 50%;
}
.cardIconOrange {
  color: var(--color5);
}
.cardIconGreen {
  color: var(--color3);
}

@media only screen and (max-width: 576px) {
  .quote-content {
    height: auto !important;
    width: 70vw;
  }
}
.app-header-navigation {
  @media (max-width: 1200px) {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
  // max-width: 100%;
}
// Navigation
.tabs {
  display: flex;
  justify-content: space-between;
  color: var(--c-text-tertiary);
  border-bottom: 1px solid var(--c-gray-600);
  flex-direction: column;

  a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    border-top: 2px solid transparent;
    display: inline-flex;
    transition: 0.25s ease;
    &.active,
    &:hover,
    &:focus {
      color: var(--c-text-primary);
      border-color: var(--c-text-primary);
    }
  }
}

p {
  margin-bottom: 0;
}
h5 {
  color: white;
}

.btn {
  background-color: #b28900;
  color: white;
}
.btn:hover {
  background-color: #008374;
  color: white;
}

.plainLink {
  color: #ffffffcc;
}
.plainLink:hover {
  color: #ffd8d8cc;
}
.plainLinkLightbackground {
  color: #00000099;
}
@media only screen and (max-width: 901px) {
  .leftSideNav {
    display: none;
  }
  // .leftSideNavMenu {
  //   display: block !important;
  // }
  .desktopLayout3 {
    display: none !important;
  }
  .noMobileDisplay {
    display: none;
  }
}
@media only screen and (min-width: 902px) {
  .leftSideNavMenu {
    display: none;
  }
  .mobileLayout3 {
    display: none !important;
  }
}
.parentop {
  z-index: -4;
}
.plainLinkLightbackground :hover {
  color: #2b2b2b;
}
.navigation .level-side-nav {
  margin-top: 0.2rem;
  padding-left: 10px;
  left: 20px;
}
.level-side-category {
  margin-top: 1rem;
}
.level-side-category a:nth-child(1) i {
  color: #cb3b3b;
}
.level-side-category a:nth-child(2) i {
  margin-top: 0.2rem;
  padding-left: 10px;
  left: 20px;
  color: #0b8457;
}
.level-side-category a:nth-child(3) i {
  margin-top: 0.2rem;
  padding-left: 10px;
  left: 20px;
  color: #eac100;
}
/* Style the form container */
.quizContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form elements */
.optionSection {
  margin-bottom: 20px;
}

.questionText {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.optionButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  text-align: inherit;
}
.optionButton:hover {
  border: 1px solid var(--color5);
}

/* Style the submit button */
.nextButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
}

.nextButton:hover {
  background-color: #45a049;
}
.selected {
  background-color: var(--color5);
}
.selectCorrect {
  background-color: #45a049;
}

.selectIncorrect {
  background-color: var(--color1);
}
.questionText {
  margin-top: 10px;
  padding: 10px 0;
}
.questionCount {
  text-align: center;
}

/* Optional: Add media queries for responsive design */
@media (max-width: 768px) {
  .quizContainer {
    max-width: 100%;
  }
}

.buttonUnClickable {
  cursor: not-allowed;
  pointer-events: none;
}

.test-box {
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
  perspective: 40px;
}

.bg-lightgrey {
  background: linear-gradient(to bottom right, #d3d3d3 40%, #d3d3d3 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
}
.myCard {
  box-shadow: 3;
  background-color: #1769aa;
  min-width: 300px;
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
}
.signUpLoginCard {
  box-shadow: 3;
  background-color: #bebebe;
  min-width: 200px;
  padding: 10px 10px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
}
.card {
  margin: "10px 5px";
}
.card-title {
  padding-top: 15%;
  color: #556b2f;
  font-family: "Dancing Script", cursive;
  font-size: 36px;
}
.card-title2 {
  padding-top: 15%;
  color: #ffffff;
  font-family: "Dancing Script", cursive;
  font-size: 36px;
}
.font-light {
  color: #107a8b;
}
.weave p {
  line-height: 1em !important;
}
.weave {
  display: block;
  width: 120px;
  height: 120px;
  border: 4px solid #007bff;
  border-radius: 36px;
  margin: 10px auto;
  position: relative;
  color: #48494e;
  text-align: center;
  font: 700 40px/120px "Quicksand", sans-serif;
}
.weave:before,
.weave:after {
  display: block;
  width: 120px;
  height: 120px;
  border: 4px solid #007bff;
  border-radius: 36px;
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
}
.weave:before {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.weave:after {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.weave2 p {
  line-height: 1em !important;
}
.weave2 {
  display: block;
  width: 120px;
  height: 120px;
  border: 4px solid #d3d3d3;
  border-radius: 36px;
  margin: 10px auto;
  position: relative;
  color: var(--color3);
  text-align: center;
  font: 700 40px/120px "Quicksand", sans-serif;
}
.weave2:before,
.weave2:after {
  display: block;
  width: 120px;
  height: 120px;
  border: 4px solid #d3d3d3;
  border-radius: 36px;
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
}
.weave2:before {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.weave2:after {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.circle-bor {
  width: 80px;
  height: 80px;
  border: #3d5af1 solid 5px;
  border-radius: 50%;
  margin: 20px auto;
  text-align: center;
  display: block;
  position: relative;
}

.quote-content {
  height: 130px;
}

.quote-content p {
  color: var(--color5);
}

.aboveRoundedFrame {
}

.roundedScoreFrame {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
  background-color: var(--c-gray-600);
  border: 1px solid var(--colorYellow);
  color: white;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  cursor: progress;
  transition: 0.25s ease;
  flex-shrink: 0;
  &.large {
    width: 42px;
    height: 42px;
    font-size: 1.25em;
  }

  i {
    transition: 0.25s ease;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 1px var(--colorYellow);
  }
}

.textCenter {
  text-align: center;
}

.userProfileRightNav {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: var(--c-text-tertiary);
  // transition: 0.25s ease;

  // &:hover,
  // &:focus {
  //   color: var(--c-text-primary);
  //   span:first-child {
  //     box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
  //   }
  // }

  span:nth-child(1) {
    display: flex;
    font-size: 1.125rem;

    font-weight: 300;
  }
  span:last-child {
    display: flex;
    font-size: 1.125rem;
    padding-left: 1rem;

    font-weight: 300;
  }

  span:nth-child(2) {
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1.5rem;
    flex-shrink: 0;
  }
}

.profileCard {
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.profileImage img {
  transition: all 0.5s;
}

.profileCard:hover .image img {
  transform: scale(1.5);
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.idd {
  font-size: 14px;
  font-weight: 600;
}

.idd1 {
  font-size: 12px;
}

.number {
  font-size: 22px;
  font-weight: bold;
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444;
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px;
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500;
}

.icons i {
  font-size: 19px;
}

hr .new1 {
  border: 1px solid;
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold;
}

.date {
  background-color: #ccc;
}

.app-body {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
      min-content,
      400px
    );

  column-gap: 4rem;
  padding-top: 2.5rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    & > * {
      margin-bottom: 3.5rem;
    }
  }
}

.app-body-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1200px) {
    display: none;
  }
}

// .bodyNoRightNav {
//   height: 100%;
//   display: grid;
//   grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr);

//   column-gap: 4rem;
//   padding-top: 2.5rem;

//   @media (max-width: 1200px) {
//     grid-template-columns: 1fr;
//     & > * {
//       margin-bottom: 3.5rem;
//     }
//   }
// }

.app-body-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1200px) {
    display: none;
  }
}
.clock-loader-container {
  width: 50px;
  height: 100%;
}

.clock-loader {
  --clock-color: black;
  --clock-width: 20px;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.02rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 1px solid var(--clock-color);
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
  }

  &::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }

  &::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.profileBox1 img {
  margin: auto auto;
  border-radius: 10%;
  border: 2px solid black;
}

.profileBox1 p {
  margin: 0;
  line-height: normal;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1.25rem;
  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.tile {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--c-olive-500);
  color: var(--c-gray-900);
  &:nth-child(2) {
    background-color: var(--c-green-500);
    &:focus-within {
      box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
    }
  }
  &:nth-child(3) {
    background-color: var(--c-gray-300);
    &:focus-within {
      box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
    }
  }
}

.tile btn {
  text-align: center;
  margin: 0 auto;
}
